Q1. How do you comment code in Python? What are the different types of comments?

In [ ]:
ans:In python we comment by using # 
    there are three types of comment in pytthon.
    l1=[1,2,33.23,'sanjay'] #this is a list

Q2. What are variables in Python? How do you declare and assign values to variables?

In [ ]:
ans:variables are used to store data or value like string,int,float,boolean etc.
    A=25
    A is a variable and 25 is value.

Q3. How do you convert one data type to another in Python?

In [ ]:
in python by using typecasting we convert one data type into another.

In [12]:
a=5
b=float(a)
type(b)

float

Q4. How do you write and execute a Python script from the command line?

In [8]:

l1=[1,2,3,'e','r',]
type(l1)

list

In [ ]:
l1 is ecuted by using shift+enter

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [10]:
my_list=[1,2,3,4,5]
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [ ]:
in mathematics complex variable is i is s=5+8i
in python complex  variable is j.

In [9]:
s=5+9j
type(s)

complex

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [7]:
age=25
print(age)

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [12]:
price=9.99
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [13]:
name="sanjay vishwas mengde"
print(name)

sanjay vishwas mengde

Q10. Given the string "Hello, World!", extract the substring "World".

In [14]:
s1="Hello,World!"
s1[6:11]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [4]:
is_student=True
if is_student==True:
    print("i am a student")
else:
    print("i am not a student")

i am a student